In [43]:
import pandas as pd

In [44]:
columns = [
    "label",
    "statement",
]

In [45]:
df1 = pd.read_csv(
    "data/liar_dataset/valid.tsv",
    sep="\t",
    names=columns,
    header=None,
    usecols=[1, 2],
)
df2 = pd.read_csv(
    "data/liar_dataset/test.tsv",
    sep="\t",
    names=columns,
    header=None,
    usecols=[1, 2],
)
df3 = pd.read_csv(
    "data/liar_dataset/train.tsv",
    sep="\t",
    names=columns,
    header=None,
    usecols=[1, 2],
)

In [46]:
df1

            label                                          statement
0     barely-true  We have less Americans working now than in the...
1      pants-fire  When Obama was sworn into office, he DID NOT u...
2           false  Says Having organizations parading as being so...
3       half-true     Says nearly half of Oregons children are poor.
4       half-true  On attacks by Republicans that various program...
...           ...                                                ...
1279    half-true  For the first time in more than a decade, impo...
1280  mostly-true  Says Donald Trump has bankrupted his companies...
1281         true  John McCain and George Bush have "absolutely n...
1282        false  A new poll shows 62 percent support the presid...
1283  barely-true  No one claims the report vindicating New Jerse...

[1284 rows x 2 columns]

In [47]:
concatenated_df = pd.concat([df1, df2, df3], ignore_index=True)
concatenated_df

             label                                          statement
0      barely-true  We have less Americans working now than in the...
1       pants-fire  When Obama was sworn into office, he DID NOT u...
2            false  Says Having organizations parading as being so...
3        half-true     Says nearly half of Oregons children are poor.
4        half-true  On attacks by Republicans that various program...
...            ...                                                ...
12786  mostly-true  There are a larger number of shark attacks in ...
12787  mostly-true  Democrats have now become the party of the [At...
12788    half-true  Says an alternative to Social Security that op...
12789        false  On lifting the U.S. Cuban embargo and allowing...
12790   pants-fire  The Department of Veterans Affairs has a manua...

[12791 rows x 2 columns]

In [48]:
concatenated_df["label"].value_counts()

label
half-true      2627
false          2507
mostly-true    2454
barely-true    2103
true           2053
pants-fire     1047
Name: count, dtype: int64

In [49]:
label_mapping = {
    "false": 0,
    "pants-fire": 0,
    "barely-true": 0,
    "half-true": 1,
    "mostly-true": 1,
    "true": 1,
}

concatenated_df["label_binary"] = concatenated_df["label"].map(label_mapping)

In [50]:
LIAR_dataset = concatenated_df[["label_binary", "statement"]]

In [51]:
LIAR_dataset

       label_binary                                          statement
0                 0  We have less Americans working now than in the...
1                 0  When Obama was sworn into office, he DID NOT u...
2                 0  Says Having organizations parading as being so...
3                 1     Says nearly half of Oregons children are poor.
4                 1  On attacks by Republicans that various program...
...             ...                                                ...
12786             1  There are a larger number of shark attacks in ...
12787             1  Democrats have now become the party of the [At...
12788             1  Says an alternative to Social Security that op...
12789             0  On lifting the U.S. Cuban embargo and allowing...
12790             0  The Department of Veterans Affairs has a manua...

[12791 rows x 2 columns]

In [52]:
ISOT_fake = pd.read_csv("data/isot_dataset/Fake.csv")
ISOT_true = pd.read_csv("data/isot_dataset/True.csv")

In [53]:
ISOT_fake["label"] = 0
ISOT_true["label"] = 1

In [54]:
ISOT_fake

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [55]:
ISOT_true

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [56]:
ISOT_true = ISOT_true[["text", "label"]]
ISOT_fake = ISOT_fake[["text", "label"]]

In [57]:
ISOT_full = pd.concat([ISOT_fake, ISOT_true], ignore_index=True)

In [58]:
ISOT_full

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [59]:
ISOT_dataset = ISOT_full[["label", "text"]]

In [60]:
ISOT_dataset

       label                                               text
0          0  Donald Trump just couldn t wish all Americans ...
1          0  House Intelligence Committee Chairman Devin Nu...
2          0  On Friday, it was revealed that former Milwauk...
3          0  On Christmas day, Donald Trump announced that ...
4          0  Pope Francis used his annual Christmas Day mes...
...      ...                                                ...
44893      1  BRUSSELS (Reuters) - NATO allies on Tuesday we...
44894      1  LONDON (Reuters) - LexisNexis, a provider of l...
44895      1  MINSK (Reuters) - In the shadow of disused Sov...
44896      1  MOSCOW (Reuters) - Vatican Secretary of State ...
44897      1  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[44898 rows x 2 columns]

In [61]:
ISOT_dataset["label"].value_counts()

label
0    23481
1    21417
Name: count, dtype: int64

In [62]:
LIAR_dataset["label_binary"].value_counts()

label_binary
1    7134
0    5657
Name: count, dtype: int64

In [63]:
fake_news_train = pd.read_csv("data/fake_news_dataset/train.csv")

In [64]:
fake_news_train

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [65]:
fake_news_train["label"] = 1 - fake_news_train["label"]
fake_news_train

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,0
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,1
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",0
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,0
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,0
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,1
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,1
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,1
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",0
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",0

In [66]:
Fake_news_dataset = fake_news_train[["label", "text"]]

In [67]:
Fake_news_dataset

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Videos 15 Civilians Killed In Single US Airstr...
4          0  Print \nAn Iranian woman has been sentenced to...
...      ...                                                ...
20795      1  Rapper T. I. unloaded on black celebrities who...
20796      1  When the Green Bay Packers lost to the Washing...
20797      1  The Macy’s of today grew from the union of sev...
20798      0  NATO, Russia To Hold Parallel Exercises In Bal...
20799      0    David Swanson is an author, activist, journa...

[20800 rows x 2 columns]

In [68]:
Fake_news_dataset["label"].value_counts()

label
0    10413
1    10387
Name: count, dtype: int64

In [69]:
LIAR_dataset = LIAR_dataset.rename(columns={"label_binary": "label"})
LIAR_dataset = LIAR_dataset.rename(columns={"statement": "text"})
LIAR_dataset

       label                                               text
0          0  We have less Americans working now than in the...
1          0  When Obama was sworn into office, he DID NOT u...
2          0  Says Having organizations parading as being so...
3          1     Says nearly half of Oregons children are poor.
4          1  On attacks by Republicans that various program...
...      ...                                                ...
12786      1  There are a larger number of shark attacks in ...
12787      1  Democrats have now become the party of the [At...
12788      1  Says an alternative to Social Security that op...
12789      0  On lifting the U.S. Cuban embargo and allowing...
12790      0  The Department of Veterans Affairs has a manua...

[12791 rows x 2 columns]

In [70]:
FULL_DATA = pd.concat(
    [Fake_news_dataset, ISOT_dataset, LIAR_dataset],
    ignore_index=True,
)
FULL_DATA

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Videos 15 Civilians Killed In Single US Airstr...
4          0  Print \nAn Iranian woman has been sentenced to...
...      ...                                                ...
78484      1  There are a larger number of shark attacks in ...
78485      1  Democrats have now become the party of the [At...
78486      1  Says an alternative to Social Security that op...
78487      0  On lifting the U.S. Cuban embargo and allowing...
78488      0  The Department of Veterans Affairs has a manua...

[78489 rows x 2 columns]

In [71]:
FULL_DATA.label.value_counts()

label
0    39551
1    38938
Name: count, dtype: int64

In [72]:
FULL_DATA = FULL_DATA.dropna()
FULL_DATA

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Videos 15 Civilians Killed In Single US Airstr...
4          0  Print \nAn Iranian woman has been sentenced to...
...      ...                                                ...
78484      1  There are a larger number of shark attacks in ...
78485      1  Democrats have now become the party of the [At...
78486      1  Says an alternative to Social Security that op...
78487      0  On lifting the U.S. Cuban embargo and allowing...
78488      0  The Department of Veterans Affairs has a manua...

[78450 rows x 2 columns]

In [73]:
FULL_DATA["cleaned_article"] = (
    FULL_DATA["text"].str.lower().str.replace(r"[^\w\s]", "", regex=True).str.strip()
)
unique_df = FULL_DATA.drop_duplicates(subset="cleaned_article", keep="first")


unique_df = unique_df.reset_index()

C:\Users\matej\AppData\Local\Temp\ipykernel_23284\1807672154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FULL_DATA["cleaned_article"] = (

In [74]:
unique_df = unique_df[["label", "text"]]
unique_df

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Videos 15 Civilians Killed In Single US Airstr...
4          0  Print \nAn Iranian woman has been sentenced to...
...      ...                                                ...
71767      1  There are a larger number of shark attacks in ...
71768      1  Democrats have now become the party of the [At...
71769      1  Says an alternative to Social Security that op...
71770      0  On lifting the U.S. Cuban embargo and allowing...
71771      0  The Department of Veterans Affairs has a manua...

[71772 rows x 2 columns]

In [75]:
import pandas as pd
import nltk
import os
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize, TreebankWordTokenizer
import re
import ast

In [76]:
unique_df

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Videos 15 Civilians Killed In Single US Airstr...
4          0  Print \nAn Iranian woman has been sentenced to...
...      ...                                                ...
71767      1  There are a larger number of shark attacks in ...
71768      1  Democrats have now become the party of the [At...
71769      1  Says an alternative to Social Security that op...
71770      0  On lifting the U.S. Cuban embargo and allowing...
71771      0  The Department of Veterans Affairs has a manua...

[71772 rows x 2 columns]

In [77]:
df_generalization = pd.read_csv("data/fake_real_news_dataset/fake_or_real_news.csv")
df_generalization

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [78]:
df_generalization = df_generalization[["text", "label"]]
df_generalization["label"] = df_generalization["label"].replace({"FAKE": 0, "REAL": 1})
df_generalization

C:\Users\matej\AppData\Local\Temp\ipykernel_23284\3104794242.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_generalization["label"] = df_generalization["label"].replace({"FAKE": 0, "REAL": 1})
C:\Users\matej\AppData\Local\Temp\ipykernel_23284\3104794242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_generalization["label"] = df_generalization["label"].replace({"FAKE": 0, "REAL": 1})

                                                   text  label
0     Daniel Greenfield, a Shillman Journalism Fello...      0
1     Google Pinterest Digg Linkedin Reddit Stumbleu...      0
2     U.S. Secretary of State John F. Kerry said Mon...      1
3     — Kaydee King (@KaydeeKing) November 9, 2016 T...      0
4     It's primary day in New York and front-runners...      1
...                                                 ...    ...
6330  The State Department told the Republican Natio...      1
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      0
6332   Anti-Trump Protesters Are Tools of the Oligar...      0
6333  ADDIS ABABA, Ethiopia —President Obama convene...      1
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...      1

[6335 rows x 2 columns]

In [37]:
df_generalization.label.value_counts()

label
1    3171
0    3164
Name: count, dtype: int64

In [ ]:
# Clean text in both datasets
unique_df["cleaned_article"] = (
    unique_df["text"].str.lower().str.replace(r"[^\w\s]", "", regex=True).str.strip()
)
df_generalization["cleaned_article"] = (
    df_generalization["text"]
    .str.lower()
    .str.replace(r"[^\w\s]", "", regex=True)
    .str.strip()
)

unique_df = unique_df.drop_duplicates(subset="cleaned_article", keep="first")

unique_df = unique_df[
    ~unique_df["cleaned_article"].isin(df_generalization["cleaned_article"])
]

unique_df = unique_df.drop(columns=["cleaned_article"])

C:\Users\matej\AppData\Local\Temp\ipykernel_23284\1757635242.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_generalization["cleaned_article"] = (

In [80]:
unique_df

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
4          0  Print \nAn Iranian woman has been sentenced to...
5          1  In these trying times, Jackie Mason is the Voi...
...      ...                                                ...
71767      1  There are a larger number of shark attacks in ...
71768      1  Democrats have now become the party of the [At...
71769      1  Says an alternative to Social Security that op...
71770      0  On lifting the U.S. Cuban embargo and allowing...
71771      0  The Department of Veterans Affairs has a manua...

[69299 rows x 2 columns]

In [ ]:
df_generalization["cleaned_article"] = (
    df_generalization["text"]
    .str.lower()
    .str.replace(r"[^\w\s]", "", regex=True)
    .str.strip()
)

df_generalization = df_generalization.drop_duplicates(
    subset="cleaned_article", keep="first"
)

df_generalization = df_generalization.drop(columns=["cleaned_article"])

In [84]:
df_generalization

                                                   text  label
0     Daniel Greenfield, a Shillman Journalism Fello...      0
1     Google Pinterest Digg Linkedin Reddit Stumbleu...      0
2     U.S. Secretary of State John F. Kerry said Mon...      1
3     — Kaydee King (@KaydeeKing) November 9, 2016 T...      0
4     It's primary day in New York and front-runners...      1
...                                                 ...    ...
6330  The State Department told the Republican Natio...      1
6331  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...      0
6332   Anti-Trump Protesters Are Tools of the Oligar...      0
6333  ADDIS ABABA, Ethiopia —President Obama convene...      1
6334  Jeb Bush Is Suddenly Attacking Trump. Here's W...      1

[6059 rows x 2 columns]

In [88]:
print(df_generalization["label"].value_counts(normalize=True) * 100)

label
0    50.668427
1    49.331573
Name: proportion, dtype: float64

In [89]:
print(unique_df["label"].value_counts(normalize=True) * 100)

label
1    55.844962
0    44.155038
Name: proportion, dtype: float64

In [ ]:
tokenizer = TreebankWordTokenizer()


def preprocess_word(word):
    word = re.sub(r"[‘’]", "'", word)
    return re.sub(r"[“”`]", "", word)


def tokenize_article(article):

    sentences = sent_tokenize(article)

    tokenized_sentences = [
        [preprocess_word(word) for word in tokenizer.tokenize(sentence)]
        for sentence in sentences
    ]
    return [[word for word in sentence if word] for sentence in tokenized_sentences]

In [ ]:
unique_df["tokenized_text"] = unique_df["text"].apply(tokenize_article)

In [ ]:
unique_df.iloc[0]["tokenized_text"]

[['House',
  'Dem',
  'Aide',
  ':',
  'We',
  'Did',
  "n't",
  'Even',
  'See',
  'Comey',
  "'s",
  'Letter',
  'Until',
  'Jason',
  'Chaffetz',
  'Tweeted',
  'It',
  'By',
  'Darrell',
  'Lucus',
  'on',
  'October',
  '30',
  ',',
  '2016',
  'Subscribe',
  'Jason',
  'Chaffetz',
  'on',
  'the',
  'stump',
  'in',
  'American',
  'Fork',
  ',',
  'Utah',
  '(',
  'image',
  'courtesy',
  'Michael',
  'Jolley',
  ',',
  'available',
  'under',
  'a',
  'Creative',
  'Commons',
  '-',
  'BY',
  'license',
  ')',
  'With',
  'apologies',
  'to',
  'Keith',
  'Olbermann',
  ',',
  'there',
  'is',
  'no',
  'doubt',
  'who',
  'the',
  'Worst',
  'Person',
  'in',
  'The',
  'World',
  'is',
  'this',
  'week',
  '–',
  'FBI',
  'Director',
  'James',
  'Comey',
  '.'],
 ['But',
  'according',
  'to',
  'a',
  'House',
  'Democratic',
  'aide',
  ',',
  'it',
  'looks',
  'like',
  'we',
  'also',
  'know',
  'who',
  'the',
  'second',
  '-',
  'worst',
  'person',
  'is',
  'as',
  'well',
  '.'],
 ['It',
  'turns',
  'out',
  'that',
  'when',
  'Comey',
  'sent',
  'his',
  'now',
  '-',
  'infamous',
  'letter',
  'announcing',
  'that',
  'the',
  'FBI',
  'was',
  'looking',
  'into',
  'emails',
  'that',
  'may',
  'be',
  'related',
  'to',
  'Hillary',
  'Clinton',
  "'s",
  'email',
  'server',
  ',',
  'the',
  'ranking',
  'Democrats',
  'on',
  'the',
  'relevant',
  'committees',
  'did',
  "n't",
  'hear',
  'about',
  'it',
  'from',
  'Comey',
  '.'],
 ['They',
  'found',
  'out',
  'via',
  'a',
  'tweet',
  'from',
  'one',
  'of',
  'the',
  'Republican',
  'committee',
  'chairmen',
  '.'],
 ['As',
  'we',
  'now',
  'know',
  ',',
  'Comey',
  'notified',
  'the',
  'Republican',
  'chairmen',
  'and',
  'Democratic',
  'ranking',
  'members',
  'of',
  'the',
  'House',
  'Intelligence',
  ',',
  'Judiciary',
  ',',
  'and',
  'Oversight',
  'committees',
  'that',
  'his',
  'agency',
  'was',
  'reviewing',
  'emails',
  'it',
  'had',
  'recently',
  'discovered',
  'in',
  'order',
  'to',
  'see',
  'if',
  'they',
  'contained',
  'classified',
  'information',
  '.'],
 ['Not',
  'long',
  'after',
  'this',
  'letter',
  'went',
  'out',
  ',',
  'Oversight',
  'Committee',
  'Chairman',
  'Jason',
  'Chaffetz',
  'set',
  'the',
  'political',
  'world',
  'ablaze',
  'with',
  'this',
  'tweet',
  '.'],
 ['FBI',
  'Dir',
  'just',
  'informed',
  'me',
  ',',
  '"',
  'The',
  'FBI',
  'has',
  'learned',
  'of',
  'the',
  'existence',
  'of',
  'emails',
  'that',
  'appear',
  'to',
  'be',
  'pertinent',
  'to',
  'the',
  'investigation',
  '.',
  '"'],
 ['Case',
  'reopened',
  '—',
  'Jason',
  'Chaffetz',
  '(',
  '@jasoninthehouse',
  ')',
  'October',
  '28',
  ',',
  '2016',
  'Of',
  'course',
  ',',
  'we',
  'now',
  'know',
  'that',
  'this',
  'was',
  'not',
  'the',
  'case',
  '.'],
 ['Comey',
  'was',
  'actually',
  'saying',
  'that',
  'it',
  'was',
  'reviewing',
  'the',
  'emails',
  'in',
  'light',
  'of',
  '',
  'an',
  'unrelated',
  'case–which',
  'we',
  'now',
  'know',
  'to',
  'be',
  'Anthony',
  'Weiner',
  "'s",
  'sexting',
  'with',
  'a',
  'teenager',
  '.'],
 ['But',
  'apparently',
  'such',
  'little',
  'things',
  'as',
  'facts',
  'did',
  "n't",
  'matter',
  'to',
  'Chaffetz',
  '.'],
 ['The',
  'Utah',
  'Republican',
  'had',
  'already',
  'vowed',
  'to',
  'initiate',
  'a',
  'raft',
  'of',
  'investigations',
  'if',
  'Hillary',
  'wins',
  '–',
  'at',
  'least',
  'two',
  'years',
  "'",
  'worth',
  ',',
  'and',
  'possibly',
  'an',
  'entire',
  'term',
  "'s",
  'worth',
  'of',
  'them',
  '.'],
 ['Apparently',
  'Chaffetz',
  'thought',
  'the',
  'FBI',
  'was',
  'already',
  'doing',
  'his',
  'work',
  'for',
  'him',
  '–',
  'resulting',
  'in',
  'a',
  'tweet',
  'that',
  'briefly',
  'roiled',
  'the',
  'nation',
  'before',
  'cooler',
  'heads',
  'realized',
  'it',
  'was',
  'a',
  'dud',
  '.'],
 ['But',
  'according',
  'to',
  'a',
  'senior',
  'House',
  'Democratic',
  'aide',
  ',',
  'misreading',
  'that',
  'letter',
  'may',
  'have',
  'been',
  'the',
  'least',
  'of',
  'Chaffetz',
  "'",
  'sins',
  '.'],
 ['That',
  'aide',
  'told',
  'Shareblue',
  'that',
  'his',
  'boss',
  'and',
  'other',
  'Democrats',
  'did',
  "n't",
  'even',
  'know',
  'about',
  'Comey',
  "'s",
  'letter',
  'at',
  'the',
  'time',
  '–',
  'and',
  'only',
  'found',
  'out',
  'when',
  'they',
  'checked',
  'Twitter',
  '.',
  ''],
 ['Democratic',
  'Ranking',
  'Members',
  'on',
  'the',
  'relevant',
  'committees',
  'did',
  "n't",
  'receive',
  'Comey',
  "'s",
  'letter',
  'until',
  'after',
  'the',
  'Republican',
  'Chairmen',
  '.'],
 ['In',
  'fact',
  ',',
  'the',
  'Democratic',
  'Ranking',
  'Members',
  'didn',
  "'",
  'receive',
  'it',
  'until',
  'after',
  'the',
  'Chairman',
  'of',
  'the',
  'Oversight',
  'and',
  'Government',
  'Reform',
  'Committee',
  ',',
  'Jason',
  'Chaffetz',
  ',',
  'tweeted',
  'it',
  'out',
  'and',
  'made',
  'it',
  'public',
  '.',
  ''],
 ['So', 'let', "'s", 'see', 'if', 'we', "'ve", 'got', 'this', 'right', '.'],
 ['The',
  'FBI',
  'director',
  'tells',
  'Chaffetz',
  'and',
  'other',
  'GOP',
  'committee',
  'chairmen',
  'about',
  'a',
  'major',
  'development',
  'in',
  'a',
  'potentially',
  'politically',
  'explosive',
  'investigation',
  ',',
  'and',
  'neither',
  'Chaffetz',
  'nor',
  'his',
  'other',
  'colleagues',
  'had',
  'the',
  'courtesy',
  'to',
  'let',
  'their',
  'Democratic',
  'counterparts',
  'know',
  'about',
  'it',
  '.'],
 ['Instead',
  ',',
  'according',
  'to',
  'this',
  'aide',
  ',',
  'he',
  'made',
  'them',
  'find',
  'out',
  'about',
  'it',
  'on',
  'Twitter',
  '.'],
 ['There',
  'has',
  'already',
  'been',
  'talk',
  'on',
  'Daily',
  'Kos',
  'that',
  'Comey',
  'himself',
  'provided',
  'advance',
  'notice',
  'of',
  'this',
  'letter',
  'to',
  'Chaffetz',
  'and',
  'other',
  'Republicans',
  ',',
  'giving',
  'them',
  'time',
  'to',
  'turn',
  'on',
  'the',
  'spin',
  'machine',
  '.'],
 ['That',
  'may',
  'make',
  'for',
  'good',
  'theater',
  ',',
  'but',
  'there',
  'is',
  'nothing',
  'so',
  'far',
  'that',
  'even',
  'suggests',
  'this',
  'is',
  'the',
  'case',
  '.'],
 ['After',
  'all',
  ',',
  'there',
  'is',
  'nothing',
  'so',
  'far',
  'that',
  'suggests',
  'that',
  'Comey',
  'was',
  'anything',
  'other',
  'than',
  'grossly',
  'incompetent',
  'and',
  'tone',
  '-',
  'deaf',
  '.'],
 ['What',
  'it',
  'does',
  'suggest',
  ',',
  'however',
  ',',
  'is',
  'that',
  'Chaffetz',
  'is',
  'acting',
  'in',
  'a',
  'way',
  'that',
  'makes',
  'Dan',
  'Burton',
  'and',
  'Darrell',
  'Issa',
  'look',
  'like',
  'models',
  'of',
  'responsibility',
  'and',
  'bipartisanship',
  '.'],
 ['He',
  'did',
  "n't",
  'even',
  'have',
  'the',
  'decency',
  'to',
  'notify',
  'ranking',
  'member',
  'Elijah',
  'Cummings',
  'about',
  'something',
  'this',
  'explosive',
  '.'],
 ['If',
  'that',
  'does',
  "n't",
  'trample',
  'on',
  'basic',
  'standards',
  'of',
  'fairness',
  ',',
  'I',
  'do',
  "n't",
  'know',
  'what',
  'does',
  '.'],
 ['Granted',
  ',',
  'it',
  "'s",
  'not',
  'likely',
  'that',
  'Chaffetz',
  'will',
  'have',
  'to',
  'answer',
  'for',
  'this',
  '.'],
 ['He',
  'sits',
  'in',
  'a',
  'ridiculously',
  'Republican',
  'district',
  'anchored',
  'in',
  'Provo',
  'and',
  'Orem',
  ';',
  'it',
  'has',
  'a',
  'Cook',
  'Partisan',
  'Voting',
  'Index',
  'of',
  'R+25',
  ',',
  'and',
  'gave',
  'Mitt',
  'Romney',
  'a',
  'punishing',
  '78',
  'percent',
  'of',
  'the',
  'vote',
  'in',
  '2012',
  '.'],
 ['Moreover',
  ',',
  'the',
  'Republican',
  'House',
  'leadership',
  'has',
  'given',
  'its',
  'full',
  'support',
  'to',
  'Chaffetz',
  "'",
  'planned',
  'fishing',
  'expedition',
  '.'],
 ['But',
  'that',
  'does',
  "n't",
  'mean',
  'we',
  'ca',
  "n't",
  'turn',
  'the',
  'hot',
  'lights',
  'on',
  'him',
  '.'],
 ['After',
  'all',
  ',',
  'he',
  'is',
  'a',
  'textbook',
  'example',
  'of',
  'what',
  'the',
  'House',
  'has',
  'become',
  'under',
  'Republican',
  'control',
  '.'],
 ['And',
  'he',
  'is',
  'also',
  'the',
  'Second',
  'Worst',
  'Person',
  'in',
  'the',
  'World',
  '.'],
 ['About',
  'Darrell',
  'Lucus',
  'Darrell',
  'is',
  'a',
  '30',
  '-',
  'something',
  'graduate',
  'of',
  'the',
  'University',
  'of',
  'North',
  'Carolina',
  'who',
  'considers',
  'himself',
  'a',
  'journalist',
  'of',
  'the',
  'old',
  'school',
  '.'],
 ['An',
  'attempt',
  'to',
  'turn',
  'him',
  'into',
  'a',
  'member',
  'of',
  'the',
  'religious',
  'right',
  'in',
  'college',
  'only',
  'succeeded',
  'in',
  'turning',
  'him',
  'into',
  'the',
  'religious',
  'right',
  "'s",
  'worst',
  'nightmare',
  '--',
  'a',
  'charismatic',
  'Christian',
  'who',
  'is',
  'an',
  'unapologetic',
  'liberal',
  '.'],
 ['His',
  'desire',
  'to',
  'stand',
  'up',
  'for',
  'those',
  'who',
  'have',
  'been',
  'scared',
  'into',
  'silence',
  'only',
  'increased',
  'when',
  'he',
  'survived',
  'an',
  'abusive',
  'three',
  '-',
  'year',
  'marriage',
  '.'],
 ['You',
  'may',
  'know',
  'him',
  'on',
  'Daily',
  'Kos',
  'as',
  'Christian',
  'Dem',
  'in',
  'NC',
  '.'],
 ['Follow',
  'him',
  'on',
  'Twitter',
  '@DarrellLucus',
  'or',
  'connect',
  'with',
  'him',
  'on',
  'Facebook',
  '.'],
 ['Click', 'here', 'to', 'buy', 'Darrell', 'a', 'Mello', 'Yello', '.'],
 ['Connect']]

In [ ]:
unique_df = unique_df.dropna()

In [ ]:
full_dataset_not_tokenized = unique_df[["label", "text"]]

In [52]:
full_dataset_not_tokenized.to_csv(
    "TRAINING_DATASET_wo_LIAR.csv", index=False, encoding="utf-8"
)

In [ ]:
training_dataset = unique_df[["label", "tokenized_text"]]

In [67]:
training_dataset.to_csv(
    "Word_Tokenized_TRAINING_DATASET.csv", index=False, encoding="utf-8"
)

In [ ]:
df_generalization["tokenized_text"] = df_generalization["text"].apply(tokenize_article)

C:\Users\matej\AppData\Local\Temp\ipykernel_5748\2089166651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset2_cleaned["tokenized_text"] = dataset2_cleaned["text"].apply(tokenize_article)

In [ ]:
df_generalization

,text,label,cleaned_article,is_duplicate,tokenized_text
0,"Daniel Greenfield, a Shillman Journalism Fello...",0,daniel greenfield a shillman journalism fellow...,False,"[[Daniel, Greenfield, ,, a, Shillman, Journali..."
1,Google Pinterest Digg Linkedin Reddit Stumbleu...,0,google pinterest digg linkedin reddit stumbleu...,False,"[[Google, Pinterest, Digg, Linkedin, Reddit, S..."
2,U.S. Secretary of State John F. Kerry said Mon...,1,us secretary of state john f kerry said monday...,False,"[[U.S., Secretary, of, State, John, F., Kerry,..."
3,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0,kaydee king kaydeeking november 9 2016 the les...,False,"[[—, Kaydee, King, (, @, KaydeeKing, ), Novemb..."
4,It's primary day in New York and front-runners...,1,its primary day in new york and frontrunners h...,False,"[[It, 's, primary, day, in, New, York, and, fr..."
...,...,...,...,...,...
6330,The State Department told the Republican Natio...,1,the state department told the republican natio...,False,"[[The, State, Department, told, the, Republica..."
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0,the p in pbs should stand for plutocratic or p...,False,"[[The, 'P', in, PBS, Should, Stand, for, 'Plut..."
6332,Anti-Trump Protesters Are Tools of the Oligar...,0,antitrump protesters are tools of the oligarch...,False,"[[Anti-Trump, Protesters, Are, Tools, of, the,..."
6333,"ADDIS ABABA, Ethiopia —President Obama convene...",1,addis ababa ethiopia president obama convened ...,False,"[[ADDIS, ABABA, ,, Ethiopia, —President, Obama..."
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1,jeb bush is suddenly attacking trump heres why...,False,"[[Jeb, Bush, Is, Suddenly, Attacking, Trump, ...."

In [ ]:
df_generalization = df_generalization.dropna()

In [ ]:
generalization_dataset_not_tokenized = df_generalization[["label", "text"]]

In [68]:
generalization_dataset_not_tokenized.to_csv(
    "full_GENERALIZATION_DATASET.csv", index=False, encoding="utf-8"
)

In [ ]:
generalization_dataset_tokenized = df_generalization[["label", "tokenized_text"]]

In [69]:
generalization_dataset_tokenized.to_csv(
    "Word_Tokenized_GENERALIZATION_DATASET.csv", index=False, encoding="utf-8"
)