In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv("full_TRAINING_DATASET.csv")

In [3]:
df

       label                                               text
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  Ever get the feeling your life circles the rou...
2          0  Why the Truth Might Get You Fired October 29, ...
3          0  Print \nAn Iranian woman has been sentenced to...
4          1  In these trying times, Jackie Mason is the Voi...
...      ...                                                ...
69293      1  There are a larger number of shark attacks in ...
69294      1  Democrats have now become the party of the [At...
69295      1  Says an alternative to Social Security that op...
69296      0  On lifting the U.S. Cuban embargo and allowing...
69297      0  The Department of Veterans Affairs has a manua...

[69298 rows x 2 columns]

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModel
import pandas as pd
from time import time

# Load tokenizer and model
model_name = "FacebookAI/roberta-base"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModel.from_pretrained(model_name)

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model.to(device)
model.eval()

c:\Users\matej\SKOLA\Diplomovka\Code\EmbeddingModels\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Some weights of RobertaModel were not initialized from the model checkpoint at FacebookAI/roberta-base and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

RobertaModel(
  (embeddings): RobertaEmbeddings(
    (word_embeddings): Embedding(50265, 768, padding_idx=1)
    (position_embeddings): Embedding(514, 768, padding_idx=1)
    (token_type_embeddings): Embedding(1, 768)
    (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (encoder): RobertaEncoder(
    (layer): ModuleList(
      (0-11): 12 x RobertaLayer(
        (attention): RobertaAttention(
          (self): RobertaSdpaSelfAttention(
            (query): Linear(in_features=768, out_features=768, bias=True)
            (key): Linear(in_features=768, out_features=768, bias=True)
            (value): Linear(in_features=768, out_features=768, bias=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (output): RobertaSelfOutput(
            (dense): Linear(in_features=768, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
        (intermediate): RobertaIntermediate(
          (dense): Linear(in_features=768, out_features=3072, bias=True)
          (intermediate_act_fn): GELUActivation()
        )
        (output): RobertaOutput(
          (dense): Linear(in_features=3072, out_features=768, bias=True)
          (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
          (dropout): Dropout(p=0.1, inplace=False)
        )
      )
    )
  )
  (pooler): RobertaPooler(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (activation): Tanh()
  )
)

In [ ]:
import re


def preprocess_text(text):
    text = re.sub(r"[‘’]", "'", text)
    return re.sub(r"[“”`]", '"', text)


def tokenize_text(text):
    return tokenizer(text, return_tensors="pt", truncation=False)


def chunk_and_pad_tokenized_input(inputs, max_length=512):

    input_ids = inputs["input_ids"][0]
    attention_mask = inputs["attention_mask"][0]
    chunks = []

    for i in range(0, len(input_ids), max_length):
        chunk_input_ids = input_ids[i : i + max_length]
        chunk_attention_mask = attention_mask[i : i + max_length]

        if len(chunk_input_ids) < max_length:
            padding_length = max_length - len(chunk_input_ids)
            chunk_input_ids = torch.cat(
                [
                    chunk_input_ids,
                    torch.tensor([tokenizer.pad_token_id] * padding_length),
                ]
            )
            chunk_attention_mask = torch.cat(
                [chunk_attention_mask, torch.tensor([0] * padding_length)]
            )

        chunks.append(
            {
                "input_ids": chunk_input_ids.unsqueeze(0),
                "attention_mask": chunk_attention_mask.unsqueeze(0),
            }
        )

    return chunks


def get_embeddings_and_average(chunks, padding_token_id=0):
    all_embeddings = []
    for chunk in chunks:
        chunk = {key: value.to("cuda") for key, value in chunk.items()}

        with torch.no_grad():
            outputs = model(**chunk)

        token_embeddings = outputs.last_hidden_state

        attention_mask = chunk["attention_mask"]

        padding_positions = (attention_mask == padding_token_id).nonzero(as_tuple=True)[
            1
        ]
        if len(padding_positions) > 0:
            first_padding_position = padding_positions[0].item()

            token_embeddings = token_embeddings[:, :first_padding_position, :]
        all_embeddings.append(token_embeddings)

    all_embeddings = torch.cat(all_embeddings, dim=1)

    final_embedding = all_embeddings.mean(dim=1)

    return final_embedding


def get_roberta_embedding(text, max_length=512):

    text = preprocess_text(text)
    inputs = tokenize_text(text)

    chunks = chunk_and_pad_tokenized_input(inputs, max_length)

    final_embedding = get_embeddings_and_average(chunks)

    return final_embedding[0].cpu().numpy()

In [5]:
text = df.iloc[1]["text"]
text = preprocess_text(text)
text

'Ever get the feeling your life circles the roundabout rather than heads in a straight line toward the intended destination? [Hillary Clinton remains the big woman on campus in leafy, liberal Wellesley, Massachusetts. Everywhere else votes her most likely to don her inauguration dress for the remainder of her days the way Miss Havisham forever wore that wedding dress.  Speaking of Great Expectations, Hillary Rodham overflowed with them 48 years ago when she first addressed a Wellesley graduating class. The president of the college informed those gathered in 1969 that the students needed "no debate so far as I could ascertain as to who their spokesman was to be" (kind of the like the Democratic primaries in 2016 minus the   terms unknown then even at a Seven Sisters school). "I am very glad that Miss Adams made it clear that what I am speaking for today is all of us —  the 400 of us," Miss Rodham told her classmates. After appointing herself Edger Bergen to the Charlie McCarthys and Mortimer Snerds in attendance, the    bespectacled in granny glasses (awarding her matronly wisdom —  or at least John Lennon wisdom) took issue with the previous speaker. Despite becoming the first   to win election to a seat in the U. S. Senate since Reconstruction, Edward Brooke came in for criticism for calling for "empathy" for the goals of protestors as he criticized tactics. Though Clinton in her senior thesis on Saul Alinsky lamented "Black Power demagogues" and "elitist arrogance and repressive intolerance" within the New Left, similar words coming out of a Republican necessitated a brief rebuttal. "Trust," Rodham ironically observed in 1969, "this is one word that when I asked the class at our rehearsal what it was they wanted me to say for them, everyone came up to me and said \'Talk about trust, talk about the lack of trust both for us and the way we feel about others. Talk about the trust bust.\' What can you say about it? What can you say about a feeling that permeates a generation and that perhaps is not even understood by those who are distrusted?" The "trust bust" certainly busted Clinton\'s 2016 plans. She certainly did not even understand that people distrusted her. After Whitewater, Travelgate, the vast   conspiracy, Benghazi, and the missing emails, Clinton found herself the distrusted voice on Friday. There was a load of compromising on the road to the broadening of her political horizons. And distrust from the American people —  Trump edged her 48 percent to 38 percent on the question immediately prior to November\'s election —  stood as a major reason for the closing of those horizons. Clinton described her vanquisher and his supporters as embracing a "lie," a "con," "alternative facts," and "a   assault on truth and reason. " She failed to explain why the American people chose his lies over her truth. "As the history majors among you here today know all too well, when people in power invent their own facts and attack those who question them, it can mark the beginning of the end of a free society," she offered. "That is not hyperbole. " Like so many people to emerge from the 1960s, Hillary Clinton embarked upon a long, strange trip. From high school Goldwater Girl and Wellesley College Republican president to Democratic politician, Clinton drank in the times and the place that gave her a degree. More significantly, she went from idealist to cynic, as a comparison of her two Wellesley commencement addresses show. Way back when, she lamented that "for too long our leaders have viewed politics as the art of the possible, and the challenge now is to practice politics as the art of making what appears to be impossible possible. " Now, as the big woman on campus but the odd woman out of the White House, she wonders how her current station is even possible. "Why aren\'t I 50 points ahead?" she asked in September. In May she asks why she isn\'t president. The woman famously dubbed a "congenital liar" by Bill Safire concludes that lies did her in —  theirs, mind you, not hers. Getting stood up on Election Day, like finding yourself the jilted bride on your wedding day, inspires dangerous delusions.'

In [ ]:
example = tokenizer(
    "Random tokenizer text example.", return_tensors="pt", truncation=False
)
example

{'input_ids': tensor([[    0, 45134, 19233,  6315,  2788,  1246,     4,     2]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1]])}

In [23]:
tokenizer.convert_ids_to_tokens(example["input_ids"][0])

['<s>', 'Random', 'Ġtoken', 'izer', 'Ġtext', 'Ġexample', '.', '</s>']

In [6]:
out = tokenize_text(text)
out

Token indices sequence length is longer than the specified maximum sequence length for this model (887 > 512). Running this sequence through the model will result in indexing errors

{'input_ids': tensor([[    0, 27172,   120,     5,  2157,   110,   301, 13820,     5,  1062,
          9006,  1195,    87,  3885,    11,    10,  1359,   516,  1706,     5,
          3833,  6381,   116,   646, 38655,  2235,  1189,     5,   380,   693,
            15,  2894,    11, 14610,   219,     6,  6176,  2647, 36664,     6,
          5517,     4, 37691,  1493,  2834,    69,   144,   533,     7,   218,
            69,  9714,  3588,    13,     5, 11059,     9,    69,   360,     5,
           169,  4523, 22989,  1173,   424,  6000,  5328,    14,  3312,  3588,
             4,  1437,  3580,     9,  2860, 12809,  1635,     6,  5141, 46581,
         41031,  9725,    19,   106,  2929,   107,   536,    77,    79,    78,
          4873,    10,  2647, 36664, 15128,  1380,     4,    20,   394,     9,
             5,  1564,  3978,   167,  4366,    11, 15077,    14,     5,   521,
           956,    22,  2362,  2625,    98,   444,    25,    38,   115, 29477,
            25,     7,    54,    49,  1565,    21,     7,    28,   113,    36,
         11584,     9,     5,   101,     5,  1557, 19050,    11,   336, 10877,
             5,  1437,  1437,  1110,  4727,   172,   190,    23,    10,  7732,
         22316,   334,   322,    22,   100,   524,   182,  7785,    14,  4523,
          5710,   156,    24,   699,    14,    99,    38,   524,  2686,    13,
           452,    16,    70,     9,   201,    93,  1437,     5,  3675,     9,
           201,    60,  4523, 46581,   174,    69, 18295,     4,   572, 25877,
          2864,  2344,  2403,  4323,  4138,     7,     5,  6127,  3409, 16880,
          2459,     8, 17457, 15677,   208,  1396, 11622,    11,  6856,     6,
             5,  1437,  1437,  1437,  9988, 13771,  1043,  1329,    11,  4435,
         13749, 11121,    36,  1584, 16014,    69,  7821,  2839,   352, 12320,
            93,  1437,    50,    23,   513,   610, 23563, 12320,    43,   362,
           696,    19,     5,   986,  5385,     4,  2285,  1959,     5,    78,
          1437,  1437,     7,   339,   729,     7,    10,  2418,    11,     5,
           121,     4,   208,     4,  1112,   187, 35411,     6,  7393, 17806,
           376,    11,    13,  3633,    13,  1765,    13,    22,   991, 39214,
           113,    13,     5,  1175,     9, 27992,    25,    37,  5888,  8893,
             4,  3791,  2235,    11,    69,   949, 24149,    15, 23144,   726,
         16444, 20010,    22, 11368,  3029,  4410, 33395,  3663,   113,     8,
            22,   523,   405,   661, 32818,     8, 37868, 27488,   113,   624,
             5,   188, 10039,     6,  1122,  1617,   567,    66,     9,    10,
          1172, 25071, 15114,    10,  4315, 37862,   337,     4,    22, 18823,
            60, 46581, 30829,  6373,    11, 15077,     6,    22,  9226,    16,
            65,  2136,    14,    77,    38,   553,     5,  1380,    23,    84,
         24478,    99,    24,    21,    51,   770,   162,     7,   224,    13,
           106,     6,   961,   376,    62,     7,   162,     8,    26,   128,
         27743,    59,  2416,     6,  1067,    59,     5,  1762,     9,  2416,
           258,    13,   201,     8,     5,   169,    52,   619,    59,   643,
             4, 10391,    59,     5,  2416, 11044,   955,   653,    64,    47,
           224,    59,    24,   116,   653,    64,    47,   224,    59,    10,
          2157,    14, 31582,  1626,    10,  2706,     8,    14,  2532,    16,
            45,   190,  6238,    30,   167,    54,    32,  7018,   338, 15876,
          1917,    20,    22, 23170, 11044,   113,  1819, 26803,  2235,    18,
           336,   708,     4,   264,  1819,   222,    45,   190,  1346,    14,
            82,  7018,   338, 15876,    69,     4,   572,  7559, 24159,     6,
          8696,  7357,     6,     5,  4714,  1437,  1437,  6556,     6, 30473,
             6,     8,     5,  1716,  5575,     6,  2235,   303,  2864,     5,
          7018,   338, 15876,  2236,    15,   273,     4,   345,    21,    10,
          7511,     9, 25985,    15,     5,   921,     7,     5,  4007,  4226,
             9,    69,   559, 17211, 36645,     4,   178, 27948,    31,     5,
           470,    82,    93,  1437,   140,  9897,    69,  2929,   135,     7,
          2843,   135,    15,     5,   864,  1320,  2052,     7,   759,    18,
           729,    93,  1437,  3359,    25,    10,   538,  1219,    13,     5,
          3172,     9,   167, 17211, 36645,     4,  2235,  1602,    69,  3538,
          2253, 13761,     8,    39,  2732,    25, 16105,    10,    22, 11527,
            60,    10,    22,  3865,    60,    22, 34268,  3693,  4905,    60,
             8,    22,   102,  1437,  1437,  2080,    15,  3157,     8,  1219,
             4,    22,   264,  1447,     7,  3922,   596,     5,   470,    82,
          4689,    39,  5738,    81,    69,  3157,     4,    22,  1620,     5,
           750, 11466,   566,    47,   259,   452,   216,    70,   350,   157,
             6,    77,    82,    11,   476, 11022,    49,   308,  4905,     8,
           908,   167,    54,   864,   106,     6,    24,    64,  2458,     5,
          1786,     9,     5,   253,     9,    10,   481,  2313,    60,    79,
          1661,     4,    22,  1711,    16,    45,  8944, 38373,     4,    22,
          2011,    98,   171,    82,     7,  9845,    31,     5,  7571,    29,
             6,  5141,  2235, 19179,  2115,    10,   251,     6,  7782,  1805,
             4,  1740,   239,   334,  2610,  5412,  9103,     8,  2647, 36664,
          1821,  1172,   394,     7,  1557,  8676,     6,  2235, 24313,    11,
             5,   498,     8,     5,   317,    14,   851,    69,    10,  3093,
             4,   901,  3625,     6,    79,   439,    31,  5631,   661,     7,
         40240,   636,     6,    25,    10,  6676,     9,    69,    80,  2647,
         36664, 23666,  8480,   311,     4,  4846,   124,    77,     6,    79,
         20010,    14,    22,  1990,   350,   251,    84,   917,    33,  5915,
          2302,    25,     5,  1808,     9,     5,   678,     6,     8,     5,
          1539,   122,    16,     7,  1524,  2302,    25,     5,  1808,     9,
           442,    99,  2092,     7,    28,  4703,   678,     4,    22,   978,
             6,    25,     5,   380,   693,    15,  2894,    53,     5,  8372,
           693,    66,     9,     5,   735,   446,     6,    79, 17694,   141,
            69,   595,  1992,    16,   190,   678,     4,    22,  7608,  2025,
            75,    38,   654,   332,   789,  1917,    79,   553,    11,   772,
             4,    96,   392,    79,  6990,   596,    79,   965,    75,   394,
             4,    20,   693, 13455,  9260,    10,    22, 37519,   225,  8632,
         28587,   113,    30,  1585, 11881,  1885, 14372,    14,  5738,   222,
            69,    11,    93,  1437, 20343,     6,  1508,    47,     6,    45,
         23367,     4, 11812,  3359,    62,    15,  7713,  1053,     6,   101,
          2609,  2512,     5,  1236,   718,  5357, 15429,    15,   110,  3312,
           183,     6, 25362,  2702, 43267,     4,     2]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])}

In [9]:
chunks = chunk_and_pad_tokenized_input(out)
chunks

[{'input_ids': tensor([[    0, 27172,   120,     5,  2157,   110,   301, 13820,     5,  1062,
            9006,  1195,    87,  3885,    11,    10,  1359,   516,  1706,     5,
            3833,  6381,   116,   646, 38655,  2235,  1189,     5,   380,   693,
              15,  2894,    11, 14610,   219,     6,  6176,  2647, 36664,     6,
            5517,     4, 37691,  1493,  2834,    69,   144,   533,     7,   218,
              69,  9714,  3588,    13,     5, 11059,     9,    69,   360,     5,
             169,  4523, 22989,  1173,   424,  6000,  5328,    14,  3312,  3588,
               4,  1437,  3580,     9,  2860, 12809,  1635,     6,  5141, 46581,
           41031,  9725,    19,   106,  2929,   107,   536,    77,    79,    78,
            4873,    10,  2647, 36664, 15128,  1380,     4,    20,   394,     9,
               5,  1564,  3978,   167,  4366,    11, 15077,    14,     5,   521,
             956,    22,  2362,  2625,    98,   444,    25,    38,   115, 29477,
              25,     7,    54,    49,  1565,    21,     7,    28,   113,    36,
           11584,     9,     5,   101,     5,  1557, 19050,    11,   336, 10877,
               5,  1437,  1437,  1110,  4727,   172,   190,    23,    10,  7732,
           22316,   334,   322,    22,   100,   524,   182,  7785,    14,  4523,
            5710,   156,    24,   699,    14,    99,    38,   524,  2686,    13,
             452,    16,    70,     9,   201,    93,  1437,     5,  3675,     9,
             201,    60,  4523, 46581,   174,    69, 18295,     4,   572, 25877,
            2864,  2344,  2403,  4323,  4138,     7,     5,  6127,  3409, 16880,
            2459,     8, 17457, 15677,   208,  1396, 11622,    11,  6856,     6,
               5,  1437,  1437,  1437,  9988, 13771,  1043,  1329,    11,  4435,
           13749, 11121,    36,  1584, 16014,    69,  7821,  2839,   352, 12320,
              93,  1437,    50,    23,   513,   610, 23563, 12320,    43,   362,
             696,    19,     5,   986,  5385,     4,  2285,  1959,     5,    78,
            1437,  1437,     7,   339,   729,     7,    10,  2418,    11,     5,
             121,     4,   208,     4,  1112,   187, 35411,     6,  7393, 17806,
             376,    11,    13,  3633,    13,  1765,    13,    22,   991, 39214,
             113,    13,     5,  1175,     9, 27992,    25,    37,  5888,  8893,
               4,  3791,  2235,    11,    69,   949, 24149,    15, 23144,   726,
           16444, 20010,    22, 11368,  3029,  4410, 33395,  3663,   113,     8,
              22,   523,   405,   661, 32818,     8, 37868, 27488,   113,   624,
               5,   188, 10039,     6,  1122,  1617,   567,    66,     9,    10,
            1172, 25071, 15114,    10,  4315, 37862,   337,     4,    22, 18823,
              60, 46581, 30829,  6373,    11, 15077,     6,    22,  9226,    16,
              65,  2136,    14,    77,    38,   553,     5,  1380,    23,    84,
           24478,    99,    24,    21,    51,   770,   162,     7,   224,    13,
             106,     6,   961,   376,    62,     7,   162,     8,    26,   128,
           27743,    59,  2416,     6,  1067,    59,     5,  1762,     9,  2416,
             258,    13,   201,     8,     5,   169,    52,   619,    59,   643,
               4, 10391,    59,     5,  2416, 11044,   955,   653,    64,    47,
             224,    59,    24,   116,   653,    64,    47,   224,    59,    10,
            2157,    14, 31582,  1626,    10,  2706,     8,    14,  2532,    16,
              45,   190,  6238,    30,   167,    54,    32,  7018,   338, 15876,
            1917,    20,    22, 23170, 11044,   113,  1819, 26803,  2235,    18,
             336,   708,     4,   264,  1819,   222,    45,   190,  1346,    14,
              82,  7018,   338, 15876,    69,     4,   572,  7559, 24159,     6,
            8696,  7357,     6,     5,  4714,  1437,  1437,  6556,     6, 30473,
               6,     8,     5,  1716,  5575,     6,  2235,   303,  2864,     5,
            7018,   338, 15876,  2236,    15,   273,     4,   345,    21,    10,
            7511,     9, 25985,    15,     5,   921,     7,     5,  4007,  4226,
               9,    69]]),
  'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1]])},
 {'input_ids': tensor([[  559, 17211, 36645,     4,   178, 27948,    31,     5,   470,    82,
              93,  1437,   140,  9897,    69,  2929,   135,     7,  2843,   135,
              15,     5,   864,  1320,  2052,     7,   759,    18,   729,    93,
            1437,  3359,    25,    10,   538,  1219,    13,     5,  3172,     9,
             167, 17211, 36645,     4,  2235,  1602,    69,  3538,  2253, 13761,
               8,    39,  2732,    25, 16105,    10,    22, 11527,    60,    10,
              22,  3865,    60,    22, 34268,  3693,  4905,    60,     8,    22,
             102,  1437,  1437,  2080,    15,  3157,     8,  1219,     4,    22,
             264,  1447,     7,  3922,   596,     5,   470,    82,  4689,    39,
            5738,    81,    69,  3157,     4,    22,  1620,     5,   750, 11466,
             566,    47,   259,   452,   216,    70,   350,   157,     6,    77,
              82,    11,   476, 11022,    49,   308,  4905,     8,   908,   167,
              54,   864,   106,     6,    24,    64,  2458,     5,  1786,     9,
               5,   253,     9,    10,   481,  2313,    60,    79,  1661,     4,
              22,  1711,    16,    45,  8944, 38373,     4,    22,  2011,    98,
             171,    82,     7,  9845,    31,     5,  7571,    29,     6,  5141,
            2235, 19179,  2115,    10,   251,     6,  7782,  1805,     4,  1740,
             239,   334,  2610,  5412,  9103,     8,  2647, 36664,  1821,  1172,
             394,     7,  1557,  8676,     6,  2235, 24313,    11,     5,   498,
               8,     5,   317,    14,   851,    69,    10,  3093,     4,   901,
            3625,     6,    79,   439,    31,  5631,   661,     7, 40240,   636,
               6,    25,    10,  6676,     9,    69,    80,  2647, 36664, 23666,
            8480,   311,     4,  4846,   124,    77,     6,    79, 20010,    14,
              22,  1990,   350,   251,    84,   917,    33,  5915,  2302,    25,
               5,  1808,     9,     5,   678,     6,     8,     5,  1539,   122,
              16,     7,  1524,  2302,    25,     5,  1808,     9,   442,    99,
            2092,     7,    28,  4703,   678,     4,    22,   978,     6,    25,
               5,   380,   693,    15,  2894,    53,     5,  8372,   693,    66,
               9,     5,   735,   446,     6,    79, 17694,   141,    69,   595,
            1992,    16,   190,   678,     4,    22,  7608,  2025,    75,    38,
             654,   332,   789,  1917,    79,   553,    11,   772,     4,    96,
             392,    79,  6990,   596,    79,   965,    75,   394,     4,    20,
             693, 13455,  9260,    10,    22, 37519,   225,  8632, 28587,   113,
              30,  1585, 11881,  1885, 14372,    14,  5738,   222,    69,    11,
              93,  1437, 20343,     6,  1508,    47,     6,    45, 23367,     4,
           11812,  3359,    62,    15,  7713,  1053,     6,   101,  2609,  2512,
               5,  1236,   718,  5357, 15429,    15,   110,  3312,   183,     6,
           25362,  2702, 43267,     4,     2,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1,     1,     1,     1,     1,     1,     1,     1,     1,
               1,     1]]),
  'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
           1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0, 0, 0]])}]

In [10]:
len(chunks[-1]["input_ids"][0])

512

In [ ]:
chunks[-1]["input_ids"]

In [11]:
embedding = get_embeddings_and_average(chunks)

In [46]:
embedding.shape

torch.Size([1, 768])

In [31]:
len(embedding[0])

768

In [34]:
len(embedding.cpu().numpy())

1

In [47]:
len(out["input_ids"][0])

887

In [58]:
df["article_embedding"] = df["text"].apply(lambda x: get_roberta_embedding(x))

In [62]:
df

,label,text,article_embedding
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,"[0.0028758862, 0.025872586, 0.03593416, -0.099..."
1,1,Ever get the feeling your life circles the rou...,"[0.032413572, 0.035666395, 0.057574242, -0.100..."
2,0,"Why the Truth Might Get You Fired October 29, ...","[0.037595626, 0.05027227, 0.060264364, -0.0506..."
3,0,Print \nAn Iranian woman has been sentenced to...,"[0.028826052, 0.057950247, -0.00472429, -0.082..."
4,1,"In these trying times, Jackie Mason is the Voi...","[-0.02413057, 0.03461668, 0.060766198, -0.1634..."
...,...,...,...
69293,1,There are a larger number of shark attacks in ...,"[0.038691726, 0.14385675, 0.050323993, -0.0680..."
69294,1,Democrats have now become the party of the [At...,"[-0.07634911, 0.035728134, 0.058021225, -0.027..."
69295,1,Says an alternative to Social Security that op...,"[0.04432549, 0.11710828, 0.010645155, -0.05531..."
69296,0,On lifting the U.S. Cuban embargo and allowing...,"[0.0734633, 0.14546232, 0.10696487, -0.0214499..."
69297,0,The Department of Veterans Affairs has a manua...,"[6.1149534e-05, 0.12721843, 0.056653425, -0.06..."

In [63]:
df = df.dropna()

In [64]:
df

,label,text,article_embedding
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,"[0.0028758862, 0.025872586, 0.03593416, -0.099..."
1,1,Ever get the feeling your life circles the rou...,"[0.032413572, 0.035666395, 0.057574242, -0.100..."
2,0,"Why the Truth Might Get You Fired October 29, ...","[0.037595626, 0.05027227, 0.060264364, -0.0506..."
3,0,Print \nAn Iranian woman has been sentenced to...,"[0.028826052, 0.057950247, -0.00472429, -0.082..."
4,1,"In these trying times, Jackie Mason is the Voi...","[-0.02413057, 0.03461668, 0.060766198, -0.1634..."
...,...,...,...
69293,1,There are a larger number of shark attacks in ...,"[0.038691726, 0.14385675, 0.050323993, -0.0680..."
69294,1,Democrats have now become the party of the [At...,"[-0.07634911, 0.035728134, 0.058021225, -0.027..."
69295,1,Says an alternative to Social Security that op...,"[0.04432549, 0.11710828, 0.010645155, -0.05531..."
69296,0,On lifting the U.S. Cuban embargo and allowing...,"[0.0734633, 0.14546232, 0.10696487, -0.0214499..."
69297,0,The Department of Veterans Affairs has a manua...,"[6.1149534e-05, 0.12721843, 0.056653425, -0.06..."

In [65]:
import numpy as np


df["article_embedding"] = df["article_embedding"].apply(
    lambda x: x.tolist() if isinstance(x, np.ndarray) else x
)

In [66]:
df.to_csv(
    "embedded_datasets/RoBERTa/RoBERTa_Embedded_Dataset.csv",
    encoding="utf-8",
    index=False,
)

# Generalization dataset

In [17]:
import pandas as pd
import ast


df = pd.read_csv("full_GENERALIZATION_DATASET.csv")

In [18]:
df

      label                                               text
0         0  Daniel Greenfield, a Shillman Journalism Fello...
1         0  Google Pinterest Digg Linkedin Reddit Stumbleu...
2         1  U.S. Secretary of State John F. Kerry said Mon...
3         0  — Kaydee King (@KaydeeKing) November 9, 2016 T...
4         1  It's primary day in New York and front-runners...
...     ...                                                ...
5985      1  The State Department told the Republican Natio...
5986      0  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
5987      0   Anti-Trump Protesters Are Tools of the Oligar...
5988      1  ADDIS ABABA, Ethiopia —President Obama convene...
5989      1  Jeb Bush Is Suddenly Attacking Trump. Here's W...

[5990 rows x 2 columns]

In [7]:
df["article_embedding"] = df["text"].apply(lambda x: get_roberta_embedding(x))

Token indices sequence length is longer than the specified maximum sequence length for this model (1549 > 512). Running this sequence through the model will result in indexing errors

In [8]:
df = df.dropna()

In [11]:
df

,label,text,article_embedding
0,0,"Daniel Greenfield, a Shillman Journalism Fello...","[-0.002649596, 0.061043363, 0.052470032, -0.09..."
1,0,Google Pinterest Digg Linkedin Reddit Stumbleu...,"[0.0022733945, 0.03975339, 0.039920527, -0.113..."
2,1,U.S. Secretary of State John F. Kerry said Mon...,"[0.054484554, 0.11057529, 0.06774962, -0.06846..."
3,0,"— Kaydee King (@KaydeeKing) November 9, 2016 T...","[-0.027517661, 0.05548241, 0.016553458, -0.064..."
4,1,It's primary day in New York and front-runners...,"[0.004216633, 0.09147257, 0.037530564, -0.0814..."
...,...,...,...
5985,1,The State Department told the Republican Natio...,"[0.0014618421, 0.11570988, 0.020603774, -0.064..."
5986,0,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,"[0.014944622, 0.077357404, 0.10143796, -0.0913..."
5987,0,Anti-Trump Protesters Are Tools of the Oligar...,"[-0.007107026, 0.07709258, 0.08062994, -0.1241..."
5988,1,"ADDIS ABABA, Ethiopia —President Obama convene...","[0.03555587, 0.088559456, 0.043276478, -0.0736..."
5989,1,Jeb Bush Is Suddenly Attacking Trump. Here's W...,"[0.025442319, 0.057444483, 0.018110303, -0.093..."

In [12]:
import numpy as np


df["article_embedding"] = df["article_embedding"].apply(
    lambda x: x.tolist() if isinstance(x, np.ndarray) else x
)

In [13]:
df.to_csv(
    "embedded_datasets/RoBERTa/RoBERTa_Embedded_Generalization_Dataset.csv",
    encoding="utf-8",
    index=False,
)